body {
    background-color: whitesmoke;
    font-family: "Roboto Condensed";
    color: black;
}
body.home_page {
    color: white;
}
.home_page .content {
    min-height: 100vh;
}
.home_page h1{
    display: none;
}

.top{
    padding-top: 1rem;
     background:      linear-gradient(90deg, rgba(2,0,36,.1) 0%, rgba(155,155,155,.2) 15%, rgba(255,212,255,.1) 100%);
}
ul.menu {
    padding: 0;
    margin-top: 2rem;
    margin-left:2rem;

}


ul.menu a {
    text-decoration: none;
}
.home_page ul.menu a,.home_page ul.menu {
    color: white;
    text-decoration: none;

}
ul.menu ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: whitesmoke;
}

ul.menu li a {
    color: black;
}
ul.menu li a.selected {
    /* text-decoration: underline; */
    border-bottom: 1px solid;
    margin-bottom: 4px;
}

ul.menu>li {
    display: inline-block;
    margin-right: .5rem;
    padding-right: .5rem;
    font-size: larger;
    /* font-weight: 500; */
    /* text-decoration: underline; */
    /* letter-spacing: .15em; */
}

@media screen and (min-width: 600px) {
    ul.menu>li {
        letter-spacing: .15em;
    }
}

.submenu ul li {
    margin-top: 0.4rem;
}

.gallery {
    /* display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%; */
}

.gallery img {
    /* display: block;
    max-width: 100%;
    height: auto; */
    cursor: zoom-in;

}



.grid-item img {
    /* width: 250px; */
    width: 40vw;
    border-radius: 3px;
}
 @media screen and (max-width: 600px) {
    .grid-item img {
        width: 35vw;
    }
}
/*
@media screen and (min-width: 1500px) {
    .grid-item img {
        width: 600px;
    }
} */

.grid {
    margin: 0 auto;
    max-width: 100%;
}

.grid-sizer,
.grid-item {
    /* width: 40%; */
    margin-bottom: 10px;
    display: block;
    /* float: left; */
    padding: 7px;
    /* width:50%; */
}

.galleries img {
    max-width: 100%;
}
.galleries h2 {
    font-size: 18px;
}

.instagram img {
    width: 25px;
}

.footer .line {
    display: flex;
}
.pagetitle {
    flex-grow:1;
}

.home_page .content img {
    position: fixed;
    top: 0;
    z-index: -1;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    left: 0;
}