body {
    background-color: whitesmoke;
    font-family: "Roboto Condensed";
    color: blueviolet;
}

ul.menu {
    padding: 0;
}

ul.menu ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu li a {
    text-decoration: none;
    color: blueviolet;
}

ul.menu>li {
    display: inline-block;
    margin-right: .5rem;
    text-decoration: underline;
}

.submenu ul li {
    margin-top: 0.4rem;
}

.gallery {
    /* display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%; */
}

.gallery img {
    /* display: block;
    max-width: 100%;
    height: auto; */

}



.grid-item img {
    /* width: 250px; */
    width: 40vw;
    border-radius: 3px;
}
 @media screen and (max-width: 600px) {
    .grid-item img {
        width: 35vw;
    }
}
/*
@media screen and (min-width: 1500px) {
    .grid-item img {
        width: 600px;
    }
} */

.grid {
    margin: 0 auto;
    max-width: 100%;
}

.grid-sizer,
.grid-item {
    /* width: 40%; */
    margin-bottom: 10px;
    display: block;
    /* float: left; */
    padding: 7px;
    /* width:50%; */
}

.galleries img {
    max-width: 100%;
}
.galleries h2 {
    font-size: 18px;
}